<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ADD_FAQ</servlet-name>
        <servlet-class>ADD_FAQ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Banner</servlet-name>
        <servlet-class>Add_Banner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ADD_CAT</servlet-name>
        <servlet-class>ADD_CAT</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mailer</servlet-name>
        <servlet-class>mailer.mailer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_profile</servlet-name>
        <servlet-class>edit_profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_password</servlet-name>
        <servlet-class>change_password</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_subadmin</servlet-name>
        <servlet-class>add_subadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editsub</servlet-name>
        <servlet-class>editsub</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_subadmin</servlet-name>
        <servlet-class>delete_subadmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_Banner</servlet-name>
        <servlet-class>edit_Banner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_Banner</servlet-name>
        <servlet-class>delete_Banner</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_gallery</servlet-name>
        <servlet-class>add_gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_gallery</servlet-name>
        <servlet-class>edit_gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_gallery</servlet-name>
        <servlet-class>delete_gallery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_category</servlet-name>
        <servlet-class>add_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_category</servlet-name>
        <servlet-class>edit_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_category</servlet-name>
        <servlet-class>delete_category</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_subcategory</servlet-name>
        <servlet-class>add_subcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_subcategory</servlet-name>
        <servlet-class>edit_subcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_subcategory</servlet-name>
        <servlet-class>delete_subcategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_item</servlet-name>
        <servlet-class>add_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_items</servlet-name>
        <servlet-class>edit_items</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_item</servlet-name>
        <servlet-class>delete_item</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_pin</servlet-name>
        <servlet-class>add_pin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edittestimonial</servlet-name>
        <servlet-class>edittestimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_faq1</servlet-name>
        <servlet-class>add_faq1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editfaq</servlet-name>
        <servlet-class>editfaq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_faq</servlet-name>
        <servlet-class>delete_faq</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aboutus</servlet-name>
        <servlet-class>aboutus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>privacypolicy</servlet-name>
        <servlet-class>privacypolicy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>refund_policy</servlet-name>
        <servlet-class>refund_policy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>term_condition</servlet-name>
        <servlet-class>term_condition</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_cars</servlet-name>
        <servlet-class>add_cars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact_info</servlet-name>
        <servlet-class>contact_info</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_service</servlet-name>
        <servlet-class>edit_service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_service</servlet-name>
        <servlet-class>delete_service</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_services</servlet-name>
        <servlet-class>add_services</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>social_link</servlet-name>
        <servlet-class>social_link</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>replyquery</servlet-name>
        <servlet-class>replyquery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>replyservicequery</servlet-name>
        <servlet-class>replyservicequery</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking_approval</servlet-name>
        <servlet-class>booking_approval</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_login</servlet-name>
        <servlet-class>admin_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_forgotpassword</servlet-name>
        <servlet-class>admin_forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editpin</servlet-name>
        <servlet-class>editpin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_pincode</servlet-name>
        <servlet-class>delete_pincode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_team</servlet-name>
        <servlet-class>add_team</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_team</servlet-name>
        <servlet-class>delete_team</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_team</servlet-name>
        <servlet-class>edit_team</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact_form</servlet-name>
        <servlet-class>contact_form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_event</servlet-name>
        <servlet-class>add_event</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_events</servlet-name>
        <servlet-class>edit_events</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_events</servlet-name>
        <servlet-class>delete_events</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_courses</servlet-name>
        <servlet-class>add_courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_courses</servlet-name>
        <servlet-class>edit_courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_courses</servlet-name>
        <servlet-class>delete_courses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogin</servlet-name>
        <servlet-class>userlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profile_user_update</servlet-name>
        <servlet-class>profile_user_update</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>change_password_user</servlet-name>
        <servlet-class>change_password_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_testimonial</servlet-name>
        <servlet-class>add_testimonial</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>courses_book</servlet-name>
        <servlet-class>courses_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>booking_status_user</servlet-name>
        <servlet-class>booking_status_user</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>service_form</servlet-name>
        <servlet-class>service_form</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_blog</servlet-name>
        <servlet-class>add_blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>delete_blog</servlet-name>
        <servlet-class>delete_blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>edit_blog</servlet-name>
        <servlet-class>edit_blog</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgot_user_pass</servlet-name>
        <servlet-class>forgot_user_pass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogin_book</servlet-name>
        <servlet-class>userlogin_book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>location</servlet-name>
        <servlet-class>location</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ADD_FAQ</servlet-name>
        <url-pattern>/ADD_FAQ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Banner</servlet-name>
        <url-pattern>/Add_Banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ADD_CAT</servlet-name>
        <url-pattern>/ADD_CAT</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mailer</servlet-name>
        <url-pattern>/mailer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_profile</servlet-name>
        <url-pattern>/edit_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_password</servlet-name>
        <url-pattern>/change_password</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_subadmin</servlet-name>
        <url-pattern>/add_subadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editsub</servlet-name>
        <url-pattern>/editsub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_subadmin</servlet-name>
        <url-pattern>/delete_subadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_Banner</servlet-name>
        <url-pattern>/edit_Banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_Banner</servlet-name>
        <url-pattern>/delete_Banner</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_gallery</servlet-name>
        <url-pattern>/add_gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_gallery</servlet-name>
        <url-pattern>/edit_gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_gallery</servlet-name>
        <url-pattern>/delete_gallery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_category</servlet-name>
        <url-pattern>/add_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_category</servlet-name>
        <url-pattern>/edit_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_category</servlet-name>
        <url-pattern>/delete_category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_subcategory</servlet-name>
        <url-pattern>/add_subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_subcategory</servlet-name>
        <url-pattern>/edit_subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_subcategory</servlet-name>
        <url-pattern>/delete_subcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_item</servlet-name>
        <url-pattern>/add_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_items</servlet-name>
        <url-pattern>/edit_items</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_item</servlet-name>
        <url-pattern>/delete_item</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_pin</servlet-name>
        <url-pattern>/add_pin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edittestimonial</servlet-name>
        <url-pattern>/edittestimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_faq1</servlet-name>
        <url-pattern>/add_faq1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editfaq</servlet-name>
        <url-pattern>/editfaq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_faq</servlet-name>
        <url-pattern>/delete_faq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aboutus</servlet-name>
        <url-pattern>/aboutus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>privacypolicy</servlet-name>
        <url-pattern>/privacypolicy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>refund_policy</servlet-name>
        <url-pattern>/refund_policy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>term_condition</servlet-name>
        <url-pattern>/term_condition</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_cars</servlet-name>
        <url-pattern>/add_cars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact_info</servlet-name>
        <url-pattern>/contact_info</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_service</servlet-name>
        <url-pattern>/edit_service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_service</servlet-name>
        <url-pattern>/delete_service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_services</servlet-name>
        <url-pattern>/add_services</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>social_link</servlet-name>
        <url-pattern>/social_link</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>replyquery</servlet-name>
        <url-pattern>/replyquery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>replyservicequery</servlet-name>
        <url-pattern>/replyservicequery</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking_approval</servlet-name>
        <url-pattern>/booking_approval</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_login</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_forgotpassword</servlet-name>
        <url-pattern>/admin_forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editpin</servlet-name>
        <url-pattern>/editpin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_pincode</servlet-name>
        <url-pattern>/delete_pincode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_team</servlet-name>
        <url-pattern>/add_team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_team</servlet-name>
        <url-pattern>/delete_team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_team</servlet-name>
        <url-pattern>/edit_team</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contact_form</servlet-name>
        <url-pattern>/contact_form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_event</servlet-name>
        <url-pattern>/add_event</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_events</servlet-name>
        <url-pattern>/edit_events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_events</servlet-name>
        <url-pattern>/delete_events</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_courses</servlet-name>
        <url-pattern>/add_courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_courses</servlet-name>
        <url-pattern>/edit_courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_courses</servlet-name>
        <url-pattern>/delete_courses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogin</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profile_user_update</servlet-name>
        <url-pattern>/profile_user_update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>change_password_user</servlet-name>
        <url-pattern>/change_password_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_testimonial</servlet-name>
        <url-pattern>/add_testimonial</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>courses_book</servlet-name>
        <url-pattern>/courses_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>booking_status_user</servlet-name>
        <url-pattern>/booking_status_user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>service_form</servlet-name>
        <url-pattern>/service_form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_blog</servlet-name>
        <url-pattern>/add_blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>delete_blog</servlet-name>
        <url-pattern>/delete_blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>edit_blog</servlet-name>
        <url-pattern>/edit_blog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgot_user_pass</servlet-name>
        <url-pattern>/forgot_user_pass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogin_book</servlet-name>
        <url-pattern>/userlogin_book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>location</servlet-name>
        <url-pattern>/location</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
